*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.logo {
    background-color: green;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
}

.nav-inner {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 20px; /* ⭐关键！替代 margin */
    background-color: skyblue;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
}

.menu span{
    display: flex;
    align-items: center;     /* span 自己的垂直居中 */
    justify-content: center; /* span 自己的水平居中 */
    height: 100%;  
    margin-left: 20px;
    cursor: pointer;

}

.menu span:hover {
    color: blue;
  }

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;

}

.content {
    max-width: 800px;
    margin: 0 auto;
  }

.box {
    padding: 40px;
    background-color: #fafafa;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}   

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
}